@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><h2 style="color:red" >@Model.Message</h2></p>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h3>Using view Data</h3>
    <h3 style="color:red" >@ViewData["Title"]</h3>
</div>
